@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@700&family=Saira+Extra+Condensed:wght@700&display=swap");

.resume {
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
}

.interests-1 {
  margin-bottom: 1rem;
}

.interests-2 {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}